<ion-card>
  <ion-card-header>
    <h2>{{ "community.philosophy.title" | translate }}</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'community.philosophy.content' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>{{ "community.tools.title" | translate }}</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'community.tools.content' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>{{ "community.contact.title" | translate }}</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'community.contact.content' | translate">
    </span>&nbsp;
    <a href="https://x.com/AktienTraum" target="_blank">&#64;AktienTraum</a>.
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>{{ "community.sourcecode.title" | translate }}</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'community.sourcecode.content' | translate">
    </span>&nbsp;
    <a href="https://github.com/AktienTraum/dividend-calculator" target="_blank">Github</a>
  </ion-card-content>
</ion-card>
