<ion-card>
  <ion-card-content class="about">

    <img src="/assets/images/logo.png" width="100px" height="100px" alt="AktienTraum"/>

    <h2 class="paragraph"><i>AktienTraum</i> {{ "about.aktientraum" | translate }} {{ "about.version" | translate }}</h2>

    <p>
      <b>{{ "about.disclaimer" | translate }}</b>
    </p>

    <hr>

    <div class="footer">
      <div class="citation">
      <span class="citationText">
        {{ "about.cite" | translate }}
      </span>
        <br>
        <span class="citationAuthor">
        Warren Buffet
      </span>
      </div>
    </div>

  </ion-card-content>
</ion-card>
