<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/calculator">
      <ion-icon aria-hidden="true" name="calculator-outline"
        lcTooltip='{{ "header.menu.calculator" | translate }}'
        lcTooltipPlacement="horizontal"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/community">
      <ion-icon aria-hidden="true" name="happy-outline"
        lcTooltip='{{ "header.menu.community" | translate }}'
        lcTooltipPlacement="horizontal"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/information">
      <ion-icon aria-hidden="true" name="information-outline"
                lcTooltip='{{ "header.menu.info" | translate }}'
                lcTooltipPlacement="horizontal"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/settings">
      <ion-icon aria-hidden="true" name="earth-outline"
                lcTooltip='{{ "header.menu.settings" | translate }}'
                lcTooltipPlacement="horizontal"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
