<ion-card>
  <ion-card-header>
    <h2>Release 3.1.0 (12.10.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-3.1.0' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 3.0.0 (08.10.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-3.0.0' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 2.2.0 (02.10.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-2.2.0' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 2.1.0 (01.10.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-2.1.0' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 2.0.0 (30.09.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-2.0.0' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 1.0.1 (28.09.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-1.0.1' | translate">
    </span>
  </ion-card-content>
</ion-card>

<p></p>

<ion-card>
  <ion-card-header>
    <h2>Release 1.0.0 (28.09.2024)</h2>
  </ion-card-header>
  <ion-card-content>
    <span
      [innerHTML]="'news.release-1.0.0' | translate">
    </span>
  </ion-card-content>
</ion-card>
