<ion-card>
  <ion-card-header>
    <h2>{{ "header.menu.imprint" | translate }}</h2>
  </ion-card-header>
  <ion-card-content>
    <div class="imprintText">
        {{ "imprint.preface" | translate }}
    </div>

    <b>{{ "imprint.contact" | translate }}</b>
    <div class="imprintText">
    Thomas Jaspers: tritom42&#64;googlemail.com
    </div>

    <b>{{ "imprint.header-1" | translate }}</b>
    <div class="imprintText">
      {{ "imprint.content-1" | translate }}
    </div>

    <b>{{ "imprint.header-2" | translate }}</b>
    <div class="imprintText">
      {{ "imprint.content-2" | translate }}
    </div>

    <b>{{ "imprint.header-3" | translate }}</b>
    <div class="imprintText">
      {{ "imprint.content-3" | translate }}
    </div>
    <p></p>
    {{ "imprint.disclaimer" | translate }} <a href="https://www.e-recht.de" target="_blank">e-recht24.de</a>
  </ion-card-content>
</ion-card>

<p></p>
