<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-segment [value]="'settings'">
          <ion-segment-button value="settings" id="settings">
            <ion-label>{{ "header.menu.settings" | translate }}</ion-label>
          </ion-segment-button>
      </ion-segment>
     </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <h2>{{ "settings.language.title" | translate }}</h2>
      </ion-card-header>
      <ion-card-content>
        <div class="languageSelection">
          <ion-button (click)="switchToGerman()"
                      fill="clear"
                      id="load-german"
                      class="germanFlag">
            <img src="/assets/images/german-flag.png" width="45" height="35"/>
          </ion-button>
          <ion-button (click)="switchToEnglish()"
                      fill="clear"
                      id="load-english"
                      class="englishFlag">
            <img  src="/assets/images/english-flag.png" width="45" height="35"/>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-toast trigger="load-german" message='{{ "messages.german" | translate }}' [duration]="5000"></ion-toast>
  <ion-toast trigger="load-english" message='{{ "messages.english" | translate }}' [duration]="5000"></ion-toast>
</div>
